/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui
 *= require_tree .
 *= require_self
 */
 .w-100{width:100%};
.media-object{max-width:150px;}
.navbar{margin-bottom:0px;}
.search_area {
    width: calc(100% - 650px);
}
.search_area.search_open{
    width:300px;
}
.main_search_by_order_id{
    min-height:350px;
}
.icon-reccommend{
    
}
@media (max-width: 991px) {
  .product-list .product-list-item {
    min-width: 230px; } }
.product-list {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: left!important;
  -webkit-justify-content: left!important;
  padding: 0 5px;
  text-align: center; }
  .product-list .product-list-item {
    width: auto!important;
    max-width: 230px;
    min-width: 150px;
    padding: 25px 15px;
    margin: 10px auto!important;
    background-color: #ffffff;
    box-shadow: 0 0 3px 0 #e1e1e1; }
    .product-list .product-list-item a {
      display: block;
      transition: all 0.5s ease; }
      .product-list .product-list-item a:hover {
        transform: scale(1.05);
        color: #EC7743 !important;
        text-decoration: none; }
    .product-list .product-list-item .info {
      display: block;
      padding: 5px 0 10px 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }

/*Home page css*/
/* Slider */
.slick-loading .slick-list {
  background: #fff image-url("ajax-loader.gif") center center no-repeat; }